# application-web.yml
app:
  root-path: /web/

spring:
  config:
    import: aws-secretsmanager:/koreahistory/prod/rds

  main:
    web-application-type: servlet      # ✅ Tomcat + 정적파일 서빙
    allow-bean-definition-overriding: true

  datasource:
    url: jdbc:mysql://${host}:${port}/koreahistory?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul&useSSL=true&allowPublicKeyRetrieval=true
    username: ${username}
    password: ${password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000  # 30초
      initialization-fail-timeout: -1  # 연결 실패 시에도 애플리케이션 시작 허용
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate   # 운영: validate 권장
    open-in-view: false
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100

  web:
    resources:
      static-locations: classpath:/static/web/

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  flyway:
    locations: classpath:db/migration/mysql
    enabled: true

logging:
  level:
    org.hibernate.SQL: debug      # 너무 시끄러우면 info 로 낮추기
    org.hibernate.type: warn

server:
  port: 8080

